General Stuff:

Use ctrl + enter to run cells<br>
Variables save between cells<br>
If you don't have an = statement, the bottom line will print, really nice for printing dataframes

In [37]:
#basic python stuff

x = 10 #declares a variable, no need for types
my_data = dict() #if I specifically want to include some type

print('if statment')
if x==10:
    print(10)

print('\nrage for loop')
for i in range(3,x,2): #first is starting point, middle is ending point (not inclusive), last is step size
    print(i)

print('\nlist for loop')
stuff = ['hi', 'I', 'love', 'KTP']
for thing in stuff:
    print(thing)

print('\nlist for dictionary')

my_data['t-shirts'] = 10
my_data['socks'] = 15
my_data['underwear'] = 15
my_data['pants'] = 5
my_data['hoddies'] = 3

for key, data in my_data.items():
    print(f'{key}: {data}')

print('\naccessing one value in a dictionary')
print(f"printing the number of socks: {my_data['socks']}")

if statment
10

rage for loop
3
5
7
9

list for loop
hi
I
love
KTP

list for dictionary
t-shirts: 10
socks: 15
underwear: 15
pants: 5
hoddies: 3

accessing one value in a dictionary
printing the number of socks: 15

In [2]:
import pandas as pd

owners_df = pd.read_csv('practice_data/owners.csv')
pets_df = pd.read_csv('practice_data/pets.csv')

In [3]:
owners_df

,OwnerID,Name,Surname,StreetAddress,City,State,StateFull,ZipCode
0,6049,Debbie,Metivier,315 Goff Avenue,Grand Rapids,MI,Michigan,49503
1,2863,John,Sebastian,3221 Perry Street,Davison,MI,Michigan,48423
2,3518,Connie,Pauley,1539 Cunningham Court,Bloomfield Township,MI,Michigan,48302
3,3663,Lena,Haliburton,4217 Twin Oaks Drive,Traverse City,MI,Michigan,49684
4,1070,Jessica,Velazquez,3861 Woodbridge Lane,Southfield,MI,Michigan,48034
...,...,...,...,...,...,...,...,...
84,2103,Robert,Adkins,2102 Perry Street,Flint,MI,Michigan,48548
85,4464,Daniel,Nielson,4876 Tully Street,Detroit,MI,Michigan,48219
86,5737,Alden,McMiller,3111 Tennessee Avenue,Pontiac,MI,Michigan,48342
87,9850,Gary,Snider,3139 Nash Street,Detroit,MI,Michigan,48227
88,1546,Joseph,Blow,556 D Street,Southfield,MI,Michigan,48075

In [5]:
pets_df

      PetID     Name    Kind  Gender  Age  OwnerID
0   J6-8562  Blackie     Dog    male   11     5168
1   Q0-2001   Roomba     Cat    male    9     5508
2   M0-2904    Simba     Cat    male    1     3086
3   R3-7551   Keller  Parrot  female    2     7908
4   P2-7342  Cuddles     Dog    male   13     4378
..      ...      ...     ...     ...  ...      ...
95  U8-6473  Biscuit     Dog  female    3     1070
96  I5-4893   Cookie     Cat  female    3     7340
97  Q8-0954  Lakshmi     Cat  female    7     9385
98  N0-9539  Swiffer     Cat    male   14     9365
99  S5-5938      Taz     Dog    male    6     9427

[100 rows x 6 columns]

In [6]:
#accessing columns in data frames
pets_df['Name']

0     Blackie
1      Roomba
2       Simba
3      Keller
4     Cuddles
       ...
95    Biscuit
96     Cookie
97    Lakshmi
98    Swiffer
99        Taz
Name: Name, Length: 100, dtype: object

In [22]:
#understanding the data
#we can just look at the data with something like
pets_df['Age'].value_counts().sort_index().reset_index()

    Age  count
0     0      5
1     1      5
2     2      6
3     3     10
4     4      9
5     5      8
6     6      6
7     7      7
8     8      8
9     9      7
10   10      3
11   11      5
12   12     10
13   13      4
14   14      4
15   15      3

In [19]:
#or we can make simple graphs to view distribution better
import plotly.express as px
import pandas as pd
import numpy as np

# Create bar chart
age_counts= pets_df['Age'].value_counts().sort_index().reset_index()

fig = px.bar(
    age_counts,
    x='Age',
    y='count',
    text='count',  # Display count values on bars
    title="Distribution of Pet Ages",
    labels={'Age': 'Pet Age', 'count': 'Number of Pets'},  # Axis labels
    color='count',  # Color bars based on count for better visualization
    color_continuous_scale='Blues'  # Aesthetic color scale
)

# Show figure
fig.show()

In [28]:
#we can filter our data
print(pets_df[(pets_df['Kind'] == 'Dog') & (pets_df['Age'] > 10)].shape[0]) #prints number of dogs above the age of 10
pets_df[(pets_df['Kind'] == 'Dog') & (pets_df['Age'] > 10)].sort_values('Name')

15

      PetID      Name Kind  Gender  Age  OwnerID
58  I7-9550     Angel  Dog  female   12     3089
0   J6-8562   Blackie  Dog    male   11     5168
39  O5-2472    Bright  Dog    male   12     4185
49  L4-6292    Bright  Dog    male   13     3089
81  K0-8177     Bruce  Dog    male   12     2809
50  R7-4835    Cookie  Dog    male   12     5215
18  J0-7893  Crockett  Dog    male   12     1334
4   P2-7342   Cuddles  Dog    male   13     4378
74  P9-3625   Cuddles  Dog    male   14     7579
53  T8-1754     Daisy  Dog  female   13     9850
45  V2-4634    Goethe  Dog    male   12     2063
86  Q8-3145    Peanut  Dog  female   13     5796
35  Q9-1565     Scout  Dog  female   14     1766
22  Q5-5872       Taz  Dog    male   12     2103
42  N8-0553     Tiger  Dog    male   15     7393

In [ ]:
#this has a few things happening here
#first it groups by the type of animal (so cat, dog, and parrot)
#it then uses .agg to perform functions on the data
    #it gets the max of the age
    #it gets the mode of the gender
        #this uses a lambda function which is just a simple way to perform code on a given value (which in this case is a row)

pets_df.groupby('Kind').agg({'Age': 'max', 'Gender': lambda x: x.mode()[0]})

        Age  Gender
Kind
Cat      15    male
Dog      15    male
Parrot   11  female

In [ ]:
#We can also aggregate data using merge
merged = pets_df.merge(owners_df, how='inner', on='OwnerID')
merged

,PetID,Name_x,Kind,Gender,Age,OwnerID,Name_y,Surname,StreetAddress,City,State,StateFull,ZipCode
0,J6-8562,Blackie,Dog,male,11,5168,Robert,Foster,4680 Rubaiyat Road,Grand Rapids,MI,Michigan,49503
6,Z4-5652,Priya,Cat,female,7,7343,Bobbie,Junior,3930 Eagle Drive,Detroit,MI,Michigan,48219
14,G4-8096,Danger,Dog,male,9,9037,Roger,Lade,1315 Echo Lane,Grand Rapids,MI,Michigan,49503
33,N7-6805,Enyo,Cat,female,12,1202,Susan,Jackson,3677 Daylene Drive,Livonia,MI,Michigan,48154
34,J1-6366,Bruce,Dog,male,3,8316,Daniel,Fay,894 Twin Oaks Drive,Grand Rapids,MI,Michigan,49503
40,X7-2632,Maripol,Parrot,female,7,9614,Carmen,Ingram,1056 Eagle Drive,Detroit,MI,Michigan,48219
50,R7-4835,Cookie,Dog,male,12,5215,Larry,Hunt,3384 West Street,Grand Rapids,MI,Michigan,49503
64,M2-1131,Rumba,Cat,male,8,1915,Christopher,Bowers,3575 Woodbridge Lane,Detroit,MI,Michigan,48226
68,W9-8307,Lexie,Dog,female,1,5207,Susan,Corrigan,2569 Prudence Street,Detroit,MI,Michigan,48221
78,K4-5012,Natacha,Parrot,female,11,2755,Anne,Hudson,4110 Howard Street,Grand Rapids,MI,Michigan,49503
79,J2-4382,Dexter,Parrot,male,4,7261,Tony,Long,536 Bombardier Way,Ann Arbor,MI,Michigan,48104
81,K0-8177,Bruce,Dog,male,12,2809,Bruce,Dunne,4119 Kimberly Way,Grand Rapids,MI,Michigan,49503
86,Q8-3145,Peanut,Dog,female,13,5796,Denise,Haire,3192 Woodbridge Lane,Detroit,MI,Michigan,48219

In [ ]:
#we can see this presented an issue with the names of the columns so we will fix that
merged = merged.rename(columns={'Name_x' : 'Pet_Name', 'Name_y': 'Owner_Name'})
merged[['Pet_Name', 'Owner_Name']] #filtering again but in this case just to display two columns

   Pet_Name Owner_Name
0   Blackie     Robert
1    Roomba    Charles
2     Simba         Ed
3    Keller      Paula
4   Cuddles     George
..      ...        ...
95  Biscuit    Jessica
96   Cookie      Debra
97  Lakshmi      Joyce
98  Swiffer      Bruce
99      Taz     Robert

[100 rows x 2 columns]

Other functions to look into <br>

Pivoting: good for when you want to reformat your data <br>

Different Types of Graphs: <br>
    bar graphs <br>
    histograms <br>
    scatterplots + line of best fit <br>
    box + wisker plots <br>

**YOUR TASKS** <br>

using the merged dataframe, create some sort of graph of your chosing on a column <br>

find the most common name of the owners and do the same for the pets <br>

filter the data frame for only owners who are from ['Ann Arbor', 'Grand Rapids', 'Detroit', 'Livonia'] and have a surname that starts with a letter in the first half of the alphabet